<ActionBar title="Add Product"></ActionBar>

<ScrollView>
  <StackLayout class="p-4">
    <Label text="Name" class="form-label"></Label>
    <TextField class="form-field" [(ngModel)]="name" hint="Name" />

    <Label text="Code" class="form-label"></Label>
    <TextField class="form-field" [(ngModel)]="code" hint="Code" />

    <Label text="Description" class="form-label"></Label>
    <TextView class="form-textarea" [(ngModel)]="description" hint="Description"></TextView>

    <Button text="Take Photo" (tap)="takePhoto()" class="btn-secondary mt-4"></Button>

    <Image [src]="imageUrl" height="200" stretch="aspectFill" *ngIf="imageUrl"></Image>

    <Button text="Save" (tap)="save()" class="btn btn-primary mt-4"></Button>
  </StackLayout>
</ScrollView>